<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Employee</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/deleteRecords" method="post">
        <h1>Remove Employee from the list </h1>
        <div >
            <label for="name">Employee Id :</label>
            <input type="text"  id="id" name="id">
        </div>
        
        <button type="submit" >Submit</button>
    </form>
</body>
</html>